# NBA Shot Data 3.d. :: Hypothesis Test 4

## Trevor Rowland :: 1-29-2025

This notebook uses MANOVA tests to examine if teams that make the playoffs and those who do not have the same average statistics. First, let's examine the data.

## 1. Importing Packages and Data, Examining Features

In [14]:
import pandas as pd
df = pd.read_pickle('/home/arch-db/Documents/github/bint-capstone/data-sources/OneDrive_1_2-5-2025/nba_team_stats_2004_2024.pkl')
df.head()

,team_id,team_name,gp,w,l,w_pct,min,fgm,fga,fg_pct,...,ast_rank,tov_rank,stl_rank,blk_rank,blka_rank,pf_rank,pfd_rank,pts_rank,plus_minus_rank,season
0,1610612737,Atlanta Hawks,82,13,69,0.159,3971.00,2942,6672,0.441,...,25,28,13,21,30,28,23,28,30,2004-05
1,1610612737,Boston Celtics,82,45,37,0.549,3975.65,3046,6511,0.468,...,9,26,8,13,16,27,13,5,13,2004-05
2,1610612737,Charlotte Bobcats,82,18,64,0.220,3976.00,2961,6859,0.432,...,10,18,6,12,25,21,8,22,28,2004-05
3,1610612737,Chicago Bulls,82,47,35,0.573,3966.00,2849,6592,0.432,...,15,30,20,18,24,29,4,21,12,2004-05
4,1610612737,Cleveland Cavaliers,82,42,40,0.512,3971.00,2990,6687,0.447,...,6,13,9,7,21,15,8,17,14,2004-05

In [15]:
type(df)

pandas.core.frame.DataFrame

Now that the data has been imported and converted to a pandas DataFrame, we can examine the features and select stats to compare in the MANOVA test.

In [16]:
df.columns.tolist()

['team_id',
 'team_name',
 'gp',
 'w',
 'l',
 'w_pct',
 'min',
 'fgm',
 'fga',
 'fg_pct',
 'fg3m',
 'fg3a',
 'fg3_pct',
 'ftm',
 'fta',
 'ft_pct',
 'oreb',
 'dreb',
 'reb',
 'ast',
 'tov',
 'stl',
 'blk',
 'blka',
 'pf',
 'pfd',
 'pts',
 'plus_minus',
 'gp_rank',
 'w_rank',
 'l_rank',
 'w_pct_rank',
 'min_rank',
 'fgm_rank',
 'fga_rank',
 'fg_pct_rank',
 'fg3m_rank',
 'fg3a_rank',
 'fg3_pct_rank',
 'ftm_rank',
 'fta_rank',
 'ft_pct_rank',
 'oreb_rank',
 'dreb_rank',
 'reb_rank',
 'ast_rank',
 'tov_rank',
 'stl_rank',
 'blk_rank',
 'blka_rank',
 'pf_rank',
 'pfd_rank',
 'pts_rank',
 'plus_minus_rank',
 'season']

## 2. Adding Playoff Game Classification

Currently, I am waiting on data from my other team members that classify games as playoff games or non-playoff games using the data in the DataFrame. For now, I will randomly assign a playoff classification to the dataset and modify this part later

In [24]:
import random as r
import numpy as np

# create a 70-30 split of regular season and playoff games, assigned to each row randomly
df['isPlayoffGame'] = np.random.choice(['playoff', 'regular'], size=len(df), p=[.3, .7])
df.head()

,team_id,team_name,gp,w,l,w_pct,min,fgm,fga,fg_pct,...,tov_rank,stl_rank,blk_rank,blka_rank,pf_rank,pfd_rank,pts_rank,plus_minus_rank,season,isPlayoffGame
0,1610612737,Atlanta Hawks,82,13,69,0.159,3971.00,2942,6672,0.441,...,28,13,21,30,28,23,28,30,2004-05,regular
1,1610612737,Boston Celtics,82,45,37,0.549,3975.65,3046,6511,0.468,...,26,8,13,16,27,13,5,13,2004-05,regular
2,1610612737,Charlotte Bobcats,82,18,64,0.220,3976.00,2961,6859,0.432,...,18,6,12,25,21,8,22,28,2004-05,playoff
3,1610612737,Chicago Bulls,82,47,35,0.573,3966.00,2849,6592,0.432,...,30,20,18,24,29,4,21,12,2004-05,playoff
4,1610612737,Cleveland Cavaliers,82,42,40,0.512,3971.00,2990,6687,0.447,...,13,9,7,21,15,8,17,14,2004-05,regular

Currently I cannot do anything until the data is collected to see which teams make the playoffs and which teams do not.

Once I have this data, the todos are as follows.

- Concat game data to team datasets
- Filter games by only regular season
- group by team, compute stat averages
- split teams into playoff and non-playoff teams
- compare group means with MANOVA
- plot results